/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/***************************
  NAV BAR
***************************/

.nav-list {
  position: absolute;
  margin: 0 auto;
}

.nav-list__list-item {
  font-size: 150%;
  padding: 0 26px;
  color: #616161;
}

@media only screen and (min-width: 980px) {
  .nav-list {
    left: 0;
  }
  .nav-list__list-item {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1070px) {
  .nav-list__list-item {
    padding: 0 26px;
  }
}

@media only screen and (min-width: 1130px) {
  .nav-list {
    left: 2%;
  }
}

@media only screen and (min-width: 1170px) {
  .nav-list {
    left: 4%;
  }
}

@media only screen and (min-width: 1260px) {
  .nav-list {
    left: 7%;
  }
}

@media only screen and (min-width: 1319px) {
  .nav-list {
    left: 9%;
  }
}

@media only screen and (min-width: 1360px) {
  .nav-list {
    left: 12%;
  }
}

@media only screen and (min-width: 1450px) {
  .nav-list {
    left: 14%;
  }
}

@media only screen and (min-width: 1540px) {
  .nav-list {
    left: 16%;
  }
}

@media only screen and (min-width: 1630px) {
  .nav-list {
    left: 18%;
  }
}

@media only screen and (min-width: 1680px) {
  .nav-list {
    left: 19%;
  }
}

/***************************
  LOGO
***************************/
svg {
  height:100%;
  width: 100%;
}

.logo-container {
  width: 77%;
  margin: 0 auto;
}

/***************************
  HERO IMAGE
***************************/

.hero-image{
  background: url(../images/node-girls-background-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  width: 100%;
}

/***************************
  WHY
***************************/

@media only screen and (min-width: 993px) {
  .why-container {
    width: 50%;
  }
}

.why-text-container{
  width:50%;
  margin: 0 auto;
}

.why-text-container__divider{
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e0e0e0;
}

.join-button{
  border: 1.5px solid #4CAF50;
  color: #212121;
}

/***************************
  FOOTER
***************************/
.row .footer__contact{
  padding: 0 1em;
}

.footer__mailto{
  color: #ffffff;
  text-decoration: underline;
}

.social-icons{
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .social-icons{
    padding: 4em 0 0 0;
    float: right;
  }
}

.social-icons__icon{
  display: inline-block;
  padding: 0 0.7em;
}

/***************************
  TEAM
***************************/

.team-container {
  width: 50%;
  margin: 0 auto;
}

.team-images-container {
  width: 80%;
  margin: 0 auto;
}

.team-image {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em auto;
}

.person {
  background-image: url("http://placehold.it/300x300");
}

.michelle {
  background-image: url("http://placehold.it/300x300");
}

.claire {
  background-image: url("http://placehold.it/300x300");
}

.nikki {
  background-image: url("../images/team/nikki.jpg");
}

.ines {
  background-image: url("http://placehold.it/300x300");
}

.natalia {
  background-image: url("http://placehold.it/300x300");
}

.anita {
  background-image: url("http://placehold.it/300x300");
}

.mina {
  background-image: url("http://placehold.it/300x300");
}
