/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .section {
    top: 0;
  }
}

/***************************
  PARALLAX
***************************/

.parallax-background {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-background--first-img {
  background-image: url(../images/first-node-girls-workshop.jpg);
}

.parallax-background--second-image {
  background-image: url(../images/background-workshop-3.jpg);
}

/***************************
  NAV BAR
***************************/

.nav--home {
  position: absolute;
  box-shadow: none;
}

.nav-list--home {
  position: absolute;
  margin: 0 auto;
}

.nav-list__list-item {
  text-align: center;
  min-width: 199px;
}

.nav-list__list-item a {
  font-size: 150%;
  color: #616161;
}

.nav-list__list-item--home {
  padding: 0 26px;
}

.nav-list__logo {
  width: 248px;
  line-height: normal;
}

@media only screen and (min-width: 980px) {
  .nav-list--home {
    left: 0;
  }
  .nav-list__list-item--home {
    padding: 0 20px;
  }
  .nav-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1070px) {
  .nav-list__list-item--home {
    padding: 0 26px;
  }
}

@media only screen and (min-width: 1130px) {
  .nav-list--home {
    left: 2%;
  }
  .nav-wrapper {
    width: 93%;
  }
}

@media only screen and (min-width: 1170px) {
  .nav-list--home {
    left: 4%;
  }
  .nav-wrapper {
     width: 90%;
  }
}

@media only screen and (min-width: 1260px) {
  .nav-list--home {
    left: 7%;
  }
  .nav-wrapper {
    width: 84%;
  }
}

@media only screen and (min-width: 1319px) {
  .nav-list--home {
    left: 9%;
  }
  .nav-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 1360px) {
  .nav-list--home {
    left: 12%;
  }
  .nav-wrapper {
    width: 75%;
  }
}

@media only screen and (min-width: 1450px) {
  .nav-list--home {
    left: 14%;
  }
  .nav-wrapper {
    width: 70%;
  }
}

@media only screen and (min-width: 1540px) {
  .nav-list--home {
    left: 16%;
  }
}

@media only screen and (min-width: 1630px) {
  .nav-list--home {
    left: 18%;
  }
}

@media only screen and (min-width: 1680px) {
  .nav-list--home {
    left: 19%;
  }
}

/***************************
  LOGO
***************************/
svg {
  height:100%;
  width: 100%;
}

.logo-container {
  width: 77%;
  margin: 0 auto;
}

/***************************
  HERO IMAGE
***************************/

.hero-image {
  background: url(../images/node-girls-background-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  width: 100%;
}

.hero-image .section {
  padding-top: 64px;
}

/***************************
  WHY
***************************/

@media only screen and (min-width: 993px) {
  .why-container {
    width: 70%;
  }
}

.why-text-container {
  width: 75%;
  margin: 0 auto;
}

.why-text-container__divider{
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e0e0e0;
}

.join-button{
  border: 1.5px solid #4CAF50;
  color: #212121;
}

/***************************
  FOOTER
***************************/

footer.page-footer {
  margin: 0;
}

.row .footer__contact{
  padding: 0 1em;
}

.footer__mailto{
  color: #ffffff;
  text-decoration: underline;
}

.social-icons{
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .social-icons{
    padding: 4em 0 0 0;
    float: right;
  }
}

.social-icons__icon{
  display: inline-block;
  padding: 0 0.7em;
}

/***************************
  TEAM
***************************/

.team-container {
  width: 50%;
  margin: 0 auto;
}

.team-images-container {
  width: 80%;
  margin: 0 auto;
}

.team-image {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em auto;
}

.person {
  background-image: url("http://placehold.it/300x300");
}

.michelle {
  background-image: url("../images/team/michelle.png");
}

.claire {
  background-image: url("../images/team/claire.jpg");
}

.nikki {
  background-image: url("../images/team/nikki.jpg");
}

.ines {
  background-image: url("../images/team/ines.jpg");
}

.natalia {
  background-image: url("../images/team/natalia.jpg");
}

.anita {
  background-image: url("../images/team/anita.jpg");
}

.mina {
  background-image: url("../images/team/mina.png");
}

.anni {
  background-image: url("../images/team/anni.jpeg");
}

.rachel {
  background-image: url("../images/team/rachel.jpeg");
}

/***************************
  EVENTS LIST
***************************/

.event-container {
  border-bottom: 1px dotted #596677;
  margin: 30px 0 60px;
}

.sponsor {
  margin-top: 15px;
  max-width: 120px;
  max-height: 120px;
  float: right;
}

.team-image__small {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.time {
  font-weight: 400;
  display: inline-block;
  font-size: 1.3rem;
  float: right;
}

.event-container__header {
  display: inline-block;
}

@media only screen and (min-width: 993px) {
  .flow-text {
    font-size: 1.3rem;
  }
}

a.green-text, a.grey-text {
    border-bottom: 1px dashed #66bb6a;
}

.inline-clock-icon {
  fill: #9e9e9e;
  top: 2px;
  position: relative;
}

.inline-clock-icon svg {
  height: 16px;
  width: 16px;
}
