/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

main {
  min-height: 60vh;
}

p {
  line-height: 2rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.section {
  width: 100%;
}

/*materialise override*/
.waves-effect {
  z-index: 0;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .section {
    top: 0;
  }
}

/***************************
  PARALLAX
***************************/

.parallax-background {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-background--first-img {
  background-image: url(../images/first-node-girls-workshop.jpg);
}

.parallax-background--second-image {
  background-image: url(../images/workshop-feb.jpg);
}

/***************************
  NAV BAR
***************************/

.nav-wrapper {
  width: 100%;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav--home {
  position: absolute;
  box-shadow: none;
}

.nav-list__list-item {
  text-align: center;
  min-width: 199px;
}

.nav-list__list-item a {
  font-size: 150%;
  color: #616161;
}

.nav-list__logo {
  width: 248px;
  line-height: normal;
}

/***************************
  HAMBURGER MENU
***************************/

.nav-frame, .nav-overflow, .nav-button, .nav-close {
  display: none;
}

@media only screen and (max-width: 992px) {
  /* Overwritting some materialise*/
  nav ul li {
    transition: none;
    float: none;
    padding: 0;
  }

  .nav-button, .nav-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
    border: none;
    outline: none;
    color: #4CAF50;
    text-align: left;
    display: block;
    padding: 5px 0 0 10px;
    cursor: pointer;
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
  }

  .nav-close {
    z-index: -1;
    visibility: hidden;
  }

  .nav-button:focus {
    opacity: 0;
  }

  .nav-button:focus ~ .nav-frame {
    transform: translateX(-24px);
    -webkit-transform: translateX(-24px);
  }

  .nav-button:focus ~ .nav-frame .side-nav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  .nav-frame:active, .nav-button:focus ~ .nav-close {
    z-index: 3;
    visibility: visible;
  }

  .nav-frame {
    background-color: #fff;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 385px;
    min-height: 100%;
    box-sizing: border-box;
    z-index: 2;
    text-align: left;
    display: block;
    transform: translateX(-390px);
    -webkit-transform: translateX(-390px);
    transition: transform 500ms cubic-bezier(0, 1,0,1);
  }

  .mobile-nav {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    position: absolute;
    top: 45px;
    right: 0;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    transition: transform 500ms cubic-bezier(0, 1,0,1);
    padding-left: 70px;
  }

  .mobile-nav li {
    line-height: 1.1em;
    font-size: 14px;
    padding: 0 15px;
    line-height: 64px;
  }

  .nav-frame:active ~ .nav-overflow, .nav-button:focus ~ .nav-overflow, .nav-frame:active ~ .nav-overflow, .nav-button:focus ~ .nav-overflow {
    opacity: 0.75;
    pointer-events: auto;
  }
  .nav-overflow {
    display: block;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #434343;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0, .67,0,.67);
    pointer-events: none;
  }
}

/***************************
  LOGO
***************************/
svg {
  height:100%;
  width: 100%;
}

/***************************
  HERO IMAGE
***************************/

@media only screen and (min-width: 815px) {
  .hero-image {
    background: url(../images/node-girls-background-image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    width: 100%;
  }
}
.hero-image {
  height: 100vh;
  width: 100%;
  /* Trick to stop page jump from this issue: http://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome*/
  transition: height 999999s
}

.hero-image .section {
  padding-top: 64px;
}

/***************************
  WHY
***************************/

@media only screen and (min-width: 500px) {
  .why-container, .team-container {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .why-container, .team-container {
    width: 42%;
  }
}

@media only screen and (max-width: 565px) {
  .why-container h3 {
    font-size: 2rem;
    margin-top: 0;
  }

  .why-container h5 {
    font-size: 1.4rem;
  }
}

.why-container, .team-container {
  margin: 0 auto;
}

.why-text-container__divider{
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #e0e0e0;
}

.join-button{
  border: 1.5px solid #4CAF50;
  color: #212121;
}

.why-container .social-icons {
  margin: -20px 0 20px 0;
  text-align: center;
}

.why-container .social-icons__icon{
  display: inline-block;
  padding: 0 0.3em;
}

.why-image {
  max-width: 100%;
}

/***************************
  FOOTER
***************************/

footer.page-footer {
  margin: 0;
}

.row .footer__contact{
  padding: 0 1em;
}

.footer__mailto{
  color: #ffffff;
  text-decoration: underline;
}

footer .social-icons{
  text-align: center;
}

@media only screen and (min-width: 993px) {
  footer .social-icons{
    padding: 4em 0 0 0;
    float: right;
  }
}

footer .social-icons__icon{
  display: inline-block;
  padding: 0 0.7em;
}

/***************************
  CHAPTERS
***************************/

.chapter-images-container {
  width: 80%;
  margin: 0 auto;
}

.chapter-image {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em auto;
}

.london {
  background-image: url("../images/chapters/london.jpg");
}

.sydney {
  background-image: url("../images/chapters/sydney.jpg");
}

/***************************
  TEAM
***************************/

.profile-images-container p {
  line-height: 1.5;
}

.profile-container {
  min-height: 250px;
}

.team-images-container {
  width: 80%;
  margin: 0 auto;
}

.team-image {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em auto;
}

@media (max-width: 550px) {
  .team-image {
    width: 125px;
    height: 125px;
  }
}

.michelle {
  background-image: url("../images/team/michelle.png");
}

.claire {
  background-image: url("../images/team/claire.jpg");
}

.nikki {
  background-image: url("../images/team/nikki.jpg");
}

.ines {
  background-image: url("../images/team/ines.jpg");
}

.natalia {
  background-image: url("../images/team/natalia.jpg");
}

.anita {
  background-image: url("../images/team/anita.jpg");
}

.mina {
  background-image: url("../images/team/mina.png");
}

.anni {
  background-image: url("../images/team/anni.jpeg");
}

.rachel {
  background-image: url("../images/team/rachel.jpeg");
}

.kata {
  background-image: url("../images/team/kata.jpg");
}

.tanya {
  background-image: url("../images/team/tanya.jpeg");
}

/***************************
  EVENTS LIST
***************************/

.event-container {
  border-bottom: 1px dotted #596677;
  margin: 30px 0 60px;
}

.sponsor {
  margin-top: 15px;
  max-width: 120px;
  max-height: 120px;
  float: right;
}

.team-image__small {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.time {
  font-weight: 400;
  display: inline-block;
  font-size: 1.3rem;
  float: right;
}

.event-container__header {
  display: inline-block;
}

@media only screen and (min-width: 993px) {
  .flow-text {
    font-size: 1.3rem;
  }
}

a.green-text, a.grey-text {
    border-bottom: 1px dashed #66bb6a;
}

.inline-clock-icon {
  fill: #9e9e9e;
  top: 2px;
  position: relative;
}

.inline-clock-icon svg {
  height: 16px;
  width: 16px;
}
