/***************************
  LONDON TEAM
***************************/

.michelle {
  background-image: url("../images/team/michelle.jpg");
}

.claire {
  background-image: url("../images/team/claire.jpg");
}

.nikki {
  background-image: url("../images/team/nikki.jpg");
}

.ines {
  background-image: url("../images/team/ines.jpg");
}

.natalia {
  background-image: url("../images/team/natalia.jpg");
}

.anita {
  background-image: url("../images/team/anita.jpg");
}

.mina {
  background-image: url("../images/team/mina.jpg");
}

.anni {
  background-image: url("../images/team/anni.jpeg");
}

.rachel {
  background-image: url("../images/team/rachel.jpeg");
}

.kata {
  background-image: url("../images/team/kata.jpg");
}

.marie {
  background-image: url("../images/team/marie.jpg");
}

.tracy {
  background-image: url("../images/team/tracy.jpg");
}

.tasnim {
  background-image: url("../images/team/tasnim.jpg");
}

.eli {
  background-image: url("../images/team/eli.jpg");
}

.monika {
  background-image: url("../images/team/monika.jpg");
}

.clare {
  background-image: url("../images/team/clare-lindley.jpg");
}

.amy {
  background-image: url("../images/team/amy.jpg");
}

/***************************
  SYDNEY TEAM
***************************/

.tanya {
  background-image: url("../images/team/tanya.jpeg");
}

.jessica {
  background-image: url("../images/team/jessica.jpg");
}

.reena {
  background-image: url("../images/team/reena.jpg");
}

.isabel {
  background-image: url("../images/team/isabel.jpg");
}

.annabel {
  background-image: url("../images/team/annabel.jpg");
}

.tina {
  background-image: url("../images/team/tina.jpg");
}

.mutya {
  background-image: url("../images/team/mutya.jpg");
}

.everlyn {
  background-image: url("../images/team/everlyn.jpg");
}

.daniel {
  background-image: url("../images/team/daniel.jpg");
}

.bron {
  background-image: url("../images/team/bron.jpg");
}

.isabell-kiral-korneck {
  background-image: url("../images/team/isabell-kiral-korneck.jpg");
}

.ainhoa {
  background-image: url("../images/team/ainhoa.jpg");
}
